{%- extends 'index.html' -%}

{%- block page_body -%}
  <p>Hi! It is just boilerplate for Flask application on steroids. It powered with following extensions (many
  thanks to people who created it):</p>
  <ul>
    <li><a href="https://pythonhosted.org/Flask-BabelEx/">Flask-BabelEx</a></li>
    <li><a href="http://flask-admin.readthedocs.org/en/latest/">Flask-Admin</a></li>
    <li><a href="http://flask-security.readthedocs.org/en/latest/">Flask-Security</a> which wraps:
      <ul>
        <li><a href="http://flask-mail.readthedocs.org/en/latest/">Flask-Mail</a></li>
        <li><a href="http://flask-principal.readthedocs.org/en/latest/">Flask-Principal</a></li>
        <li><a href="http://flask-login.readthedocs.org/en/latest/">Flask-Login</a></li>
      </ul>
    </li>
    <li><a href="http://flask-wtf.readthedocs.org/en/latest/">Flask-WTF</a></li>
    <li><a href="https://pythonhosted.org/Flask-SQLAlchemy/">Flask-SQLAlchemy</a></li>
  </ul>
{%- endblock -%}
